body {
  font-family: 'Old Standard TT', sans-serif;
  width: 70%;
  margin: 0 auto;
  background-image: url(img/halloween-wallpaper-6.jpg);
}

h1 {
  color: white;
  font-family: 'Pirata One', sans-serif;
  font-size: 80px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.container {
  display: grid;
  /* box-sizing: border-box; */
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center; */
  gap: 20px;
  border: solid #000000 2px;
  padding: 30px;
  border-radius: 25px;
}

.date-box {
  background-color: #333030;
  color: white;
  text-align: center;
  place-content: center;
  /* margin: 30px 0px 30px 0px; */
  height: 100px;
  border-radius: 15px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.datepicker-cell {
  color: black;
}

.mood-box {
  text-align: center;
  place-content: center;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #edb176;
}

.mood-button {
  border: none;
  background-color: white;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.mood-button + label {
  padding: 10px;
}

.week-box {
  text-align: center;
  place-content: center;
  color: white;
  border: solid #000000 3px;
  border-radius: 15px;
  padding-bottom: 15px;
}

.week-button {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.week-button + label {
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
}

.week-button:checked + label {
  background-color: #000000;
  color: white;
}

.tasks-box {
  background-color: #edb176;
  color: white;
  border-radius: 15px;
  text-align: center;
  place-content: center;
  height: 400px;
}

.tasks-box > button {
  background-color: black;
  color: white;
  border-radius: 7px;
}

.done-button {
  background-color: black;
  color: white;
  border-radius: 7px;
}

.delete-button {
  background-color: #edb176;
  color: white;
  border-radius: 7px;
}

.priority-button {
  background-color: black;
  color: white;
  border-radius: 7px;
}

.priorities-box {
  background-color: #333030;
  color: white;
  height: 300px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  place-content: center;
}

.priorities-box > button {
  background-color: #edb176;
  color: white;
  border-radius: 7px;
}

/* .upDownButton {
  background-color: #edb176;
  color: white;
  border-radius: 7px;
} */

/* .priorities-box img {
  text-align: left;
} */

/* .heart {
  height: 125px;
  width: 100px;
  mix-blend-mode: multiply;
  text-align: left;
} */

.notes-box {
  background-color: #333030;
  color: white;
  border-radius: 15px;
  height: 500px;
  margin-top: 20px;
  text-align: center;
  place-content: center;
}

.note-text {
  height: 200px;
  width: 400px;
  border-radius: 20px;
}

/* .flower {
  mix-blend-mode: multiply;
  height: 150px;
  width: auto;
} */

ul {
  list-style-type: none;
}
