body {
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
}

.container {
  display: grid;
  /* box-sizing: border-box; */
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center; */
  gap: 20px;
  border: solid #8d9db6 2px;
  padding: 30px;
  border-radius: 25px;
}

.date-box {
  background-color: #aac2e7;
  color: white;
  text-align: center;
  place-content: center;
  /* margin: 30px 0px 30px 0px; */
  height: 100px;
  border-radius: 15px;
  margin-top: 20px;
}

.mood-box {
  text-align: center;
  place-content: center;
  border: solid #8d9db6 3px;
  border-radius: 15px;
  margin-top: 20px;
}

.mood-button {
  border: none;
  background-color: white;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.week-box {
  text-align: center;
  place-content: center;
}

.week-button {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.week-button + label {
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.week-button:checked + label {
  background-color: #f5d7d7;
  color: white;
}

.tasks-box {
  background-color: #aac2e7;
  color: white;
  border-radius: 15px;
  text-align: center;
  place-content: center;
  height: 400px;
}

.priorities-box {
  background-color: #f5d7d7;
  color: white;
  height: 300px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  place-content: center;
}

.priorities-box img {
  text-align: left;
}

.heart {
  height: 125px;
  width: 100px;
  mix-blend-mode: multiply;
  text-align: left;
}

.notes-box {
  background-color: #f5d7d7;
  color: white;
  border-radius: 15px;
  height: 500px;
  margin-top: 20px;
  text-align: center;
  place-content: center;
}

.note-text {
  height: 200px;
  width: 400px;
  border-radius: 20px;
}

.flower {
  mix-blend-mode: multiply;
  height: 150px;
  width: auto;
}

.gratitude-box {
  color: black;
  border: solid #8d9db6 3px;
  border-radius: 15px;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  place-content: center;
}

.gratitude-text {
  height: 100px;
  width: 400px;
  border-radius: 20px;
}
